*{
    margin: 0px;
    font-family: sans-serif;
}
.copy{
    text-align: center;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png");
    height: 700px;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0px;
    font-family: sans-serif;
}
.copy>h3{
    border-bottom: 2px solid white;
    padding-bottom: 5px ;
    display: inline;
    font-size: 30px;
}
.copy>h1{
    font-size: 55px;
    padding-top: 30px;
}
.copy>p{
    margin-top: 15px;
}
.btn>button{
    margin-top: 390px;
}
.btn>button{
    width: 270px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 16px;
    font-weight: 400;
}
#bluebutt{
    background-color: rgb(62,106,225);
    color: white;
}
header>svg{
    height: 30px;
    width: 100px;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    margin-bottom: 2px;
}
.navlogo{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 150px;
}
.navlinks>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
}
.navlinks{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
}
#modely{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png");
    height: 620px;
}
#modelx{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png");
    height: 620px;
}
#modelx>h3{
    display: inline;

}